

@media only screen and (max-width: 500px){
  .socials {
     width: 45px!important;
    height: 102px!important;
    text-align: center;
    padding: 7px!important;
     margin-right: 0px!important; 
     margin-left: 0px!important; 
  }
   .socials .dialer {
    height: 57%!important;
    width: 109%!important;
  }
  .social-media-links{
    max-height: 68px!important;
  }
  a.resume {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px){

    button.get-in-touch.rounded-pill.btn-rounded {
      margin: auto;
  }
  .video-box img{
    margin-top:-50px;
  }
   .heading-hiring{
    text-align: center;
   }
   .hire-button{
    text-align: center!important;
    margin-top: 17px;
   }
   .hire-button a img {
    width: 50px!important;
}
.socials {
  width: 40px!important;
 height: 102px!important;
 text-align: center;
 padding: 7px!important;
  margin-right: 0px!important; 
  margin-left: 0px!important; 
}
.socials .dialer {
 height: 45%!important;
 width: 109%!important;
}
.social-media-links{
  max-height: 68px!important;
}
a.resume {
  font-size: 10px;
}
}
@media only screen and (max-width: 767px) {
  .my-introduction {
    padding-left: 60px;
  }
  .services-items .card {
    margin-bottom: 14px;
    max-width: 341px;
    min-height: 106px;
  }
  .portfolio-card .card {
    /* display: flex; */
    max-width: 250px;
    margin: auto;
    margin-top: 14px;
  }
  .pricing-items .card {
    width: 70%;
    height: 97%;
    margin: auto;
  }
  .form-row {
    text-align: center;
  }
  .blog-img {
    width: 60%;
    margin: auto;
  }
  .blog {
    margin-bottom: 14px;
  }
  .custom-button{
    margin-bottom: 12px;
  }
}
.portfolio .card {
  min-height: 108px;
}
.intro-section {
  background: linear-gradient(
    to right,
    rgba(153, 38, 240, 0.95),
    rgba(209, 34, 227, 0.95)
  );
  padding: 1rem 0 0 0; 
  width: 100%;
  height: 100%;
}



@media (max-width: 991.98px){
  .blog-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.blog-card .blog-card-header {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
}
 
.btn-close {
  margin-left:0px;
  padding:0px;
}



